---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';

import Config from '../configs/repo.json'
import Menu from '@components/Menu/Menu.astro';
---

<Layout title={Config['index.title']}>
	<main>
        <aside>
            <Menu />
        </aside>

        <article>
            <nav>
            </nav>
            <section>
            </section>
            
            <footer>
            </footer>
        </article>
	</main>
</Layout>

<style>
	
</style>
