---
import Layout from '../layouts/Layout.astro';

import Config from '../configs/repo.json'
import Aside from '@components/Aside/Aside.astro';
import Navbar from '@components/Navbar/Navbar.astro';
---

<Layout title={Config['index.title']}>
    <Navbar />
	<main>
        <Aside />

        <article>

            <section>
            </section>
            
            <footer>
            </footer>
        </article>
	</main>
</Layout>

<style>
	
</style>
