---
import DefaulGithubIcon from './DefaultGithubIcon'
---

<nav class="h-14 border-black border-b-2 px-8 flex items-center justify-between">
    <div class="flex items-center">
        <DefaulGithubIcon/>
        <span class="ml-1">Pure Book</span>
    </div>

    <div>
        <div>About</div>
    </div>
</nav>