---
import Config from '../configs/repo.json'
import Aside from '@components/Aside/Aside.astro';
import Navbar from '@components/Navbar/Navbar.astro';

type Props = {
	title?: string
}

const {title} = Astro.props
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title || Config['index.title']}</title>
		
	</head>
	<body class="flex flex-col">
	<Navbar />
	<main class="flex h-full">
        <Aside />
        <article class="flex flex-col">
			<section>
            <slot />
		</section>
            <footer class="h-14 border-black border-t-2 px-8 flex items-center justify-center">Copywrite</footer>
        </article>
	</main>

	</body>
</html>
<style>

	body {
		margin: 0;
		min-height: 100vh;
	}

	article {
		flex: 1 1;
	}

	section {
		min-height: calc(100vh - 112);
		padding: 16px 32px;
		flex: 1 1;
	}
</style>

<style is:global>
	h1 {
		font-size: var(--font-size-xl);
	}

	h2 {
		font-size: var(--font-size-lg);
	}

	code {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
			Bitstream Vera Sans Mono, Courier New, monospace;
	}
</style>
