---
import Config from '../configs/repo.json'
import Aside from '@components/Aside/Aside.astro';
import Navbar from '@components/Navbar/Navbar.astro';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{Config['index.title']}</title>
		
	</head>
	<body>
		<Navbar />
	<main class="flex">
        <Aside />

        <article>

            <slot />
            
            <footer>
            </footer>
        </article>
	</main>

	</body>
</html>
<style>

	body {
		margin: 0;
	}


</style>

<style is:global>
	h1 {
		font-size: var(--font-size-xl);
	}

	h2 {
		font-size: var(--font-size-lg);
	}

	code {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
			Bitstream Vera Sans Mono, Courier New, monospace;
	}
</style>
